:root {
  /* Primary Colors */

  --purple-600: hsl(246, 80%, 60%);

  --orange-300: hsl(15, 100%, 70%);
  --blue-300: hsl(195, 74%, 62%);
  --pink-400: hsl(348, 100%, 68%);
  --green-400: hsl(145, 58%, 55%);
  --purple-700: hsl(264, 64%, 52%);
  --yellow-300: hsl(43, 84%, 65%);

  /* Neutral Colors */

  --navy-950: hsl(226, 43%, 10%);
  --navy-900: hsl(235, 46%, 20%);
  --navy-880: hsl(236, 41%, 34%);
  --purple-500: hsl(235, 45%, 61%);
  --navy-200: hsl(236, 100%, 87%);
  --white: hsl(0, 0%, 100%);

  --ff: 'Rubik', Arial;
  --fw-light: 300;
  --fw-normal: 400;
  --fw-bold: 500;

  --transition: 200ms;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

body {
  font-family: var(--ff);
  font-size: 1.125rem;
  font-weight: var(--fw-normal);
  color: var(--white);
  background-color: var(--navy-950);
}

main {
  min-height: 100vh;
  display: grid;
  place-items: center;
  padding-block: 5rem;
  padding-inline: 1.5rem;
}

.grid-area {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-areas:
    'one'
    'two'
    'three'
    'four'
    'five'
    'six'
    'seven';
  gap: 1.5rem;
  --border-radius: .75rem;
}

@media (min-width: 49em) {
  .grid-area {
    grid-template-areas:
      'one two three four'
      'one five six seven';
    max-width: 62.5rem;
  }
}

.grid-area>div:nth-child(1) {
  grid-area: one;
}

.grid-area>div:nth-child(2) {
  grid-area: two;

  background-color: var(--orange-300);
}

.grid-area>div:nth-child(3) {
  grid-area: three;

  background-color: var(--blue-300);
}

.grid-area>div:nth-child(4) {
  grid-area: four;

  background-color: var(--pink-400);
}

.grid-area>div:nth-child(5) {
  grid-area: five;

  background-color: var(--green-400);
}

.grid-area>div:nth-child(6) {
  grid-area: six;

  background-color: var(--purple-700);
}

.grid-area>div:nth-child(7) {
  grid-area: seven;

  background-color: var(--yellow-300);
}

.user-container {
  background-color: var(--navy-900);
  border-radius: var(--border-radius);
}

.user-section {
  background-color: var(--purple-600);
  border-radius: var(--border-radius);
  padding: 1.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.user-section img {
  border: 3px solid var(--white);
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.user-section div p {
  color: var(--navy-200);
  font-weight: var(--fw-bold);
  font-size: .75rem;
}

.user-section div h3 {
  opacity: 0.9;
  font-weight: var(--fw-light);
  font-size: 1.25rem;
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem 1rem 1.5rem;
}

.option {
  font-size: .875rem;
  color: var(--purple-500);
  cursor: pointer;
  transition: var(--transition);
}

.option:hover {
  color: var(--white);
}

.option.active {
  color: var(--white);
}

@media (min-width: 49em) {
  .user-section {
    flex-direction: column;
    align-items: baseline;
    padding-block-end: 5rem;
  }

  .user-section img {
    width: 65px;
    height: 65px;
    margin-bottom: 1.5rem;
  }

  .user-section div h3 {
    font-size: 2.125rem;
    line-height: 1.2;
  }

  .options {
    flex-direction: column;
    gap: 1rem;
    align-items: baseline;
  }
}

.activities {
  border-radius: var(--border-radius);
  position: relative;
  height: 7.8125rem;
  overflow: hidden;
}

.icon {
  position: absolute;
  width: 65px;
  right: 10px;
  top: -5px;
}

.details {
  background-color: var(--navy-900);
  border-radius: var(--border-radius);
  padding: 1rem 1.5rem;
  position: absolute;
  width: 100%;
  bottom: 0;
  z-index: 10;
  cursor: pointer;
  transition: var(--transition);
}

.details:hover {
  background-color: var(--navy-880);
}

.details__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon-more:hover path {
  fill: var(--white);
}

.title {
  font-weight: var(--fw-bold);
  font-size: .875rem;
}

.details__hours {
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
  align-items: center;
}

.hours {
  font-size: 1.5rem;
  font-weight: var(--fw-light);
}

.previous-hours {
  font-size: .75rem;
  font-weight: var(--fw-bold);
  color: var(--navy-200);
}

@media (min-width: 49em) {
  .activities {
    height: 210px;
  }

  .details {
    padding: 1.5rem;
  }

  .details__hours {
    flex-direction: column;
    justify-content: baseline;
    align-items: baseline;
    gap: 0;
  }

  .hours {
    margin-top: 0.5rem;
    font-size: 3rem;
  }
}